.hero-unit
  %img#logo.img-polaroid.pull-right.hidden-phone{ src: asset_path('ca2.png'), alt: 'Christian Aust', itemprop:'image' }
  %h1{ itemprop:'name' } Christian Aust
  %p{ itemprop:'description' } Ich berate und entwickle Software für das Internet.

%p.lead
  Ihr Projekt unterstütze ich mit Konzeption, Entwicklung und Betrieb, als Berater, Projektleiter und als Teil des Teams. Ich bin vertraut mit der Arbeitsweise von Agenturen und Konzernen, bin stressfest, zuverlässig und ganz allgemein ein netter Kollege.

%section#facts
  .row
    .span3
      %h3
        %i.icon-user
        Über mich
      %p
        Mit Internet-Technologie beschäftige ich mich seit 1993. Ich bin spezialisiert auf Internetsoftware und vernetzte Informationen. Fast 20 Jahre Erfahrung als Entwickler und Projektleiter ermöglichen fundierte Entscheidungen zu zukunftsfähiger Architektur und solidem Betrieb von Internetsoftware aller Art.

    .span3.hidden-phone
      %h3
        %i.icon-file
        Dokumente

      %ul.icons
        %li
          %i.icon-file
          %a{ href: '/profil.pdf' }
            Profil (PDF)
        %li
          %i.icon-calendar
          %a{ href: '/card.vcf' }
            Visitenkarte (vcard)

      %h3
        %i.icon-calendar
        Verfügbarkeit

      %p
        Derzeit bin ich zu etwa
        = (availability[:free]*100).to_i.to_s
        Prozent für weitere Aufgaben verfügbar.
        Voraussichtlich ab
        %strong= l(availability[:next_full], format: :month_and_year)
        kann ich meine gesamte Zeit für Ihr Projekt einsetzen.

    .span3
      %h3
        %i.icon-home
        Kontakt
      .author
        %strong Christian Aust
        %small
          %a{ rel: :publisher, href: 'https://plus.google.com/105874409348870423162/about?gl=DE&hl=de-DE' }
            Google Places&trade;
        <br>
        %span{ itemprop:'jobTitle' } Software Consultant

        %address{ itemprop:'address', itemscope:true, itemtype:'http://schema.org/PostalAddress' }
          %span{ itemprop:'streetAddress' } Auelsweg 22
          <br>
          %span{ itemprop:'postalCode' } 53797
          %span{ itemprop:'addressLocality' } Lohmar
        %p
          %strong USt-ID
          DE 251152105

        %ul.icons
          %li
            %i.icon-phone
            %a{ href: 'callto:+492246208343', itemprop:'telephone' } +49 (0)2246 208343
          %li
            %i.icon-envelope
            %a{ href: 'mailto:info@software-consultant.net', itemprop:'email'} info@software-consultant.net

          %li
            %i.icon-print
            %a{ href: 'fax:+492246208343', itemprop:'faxNumber'} +49 (0)2246 208343-9



    .span3
      %h3
        %i.icon-globe
        Weitere Profile
      %ul.icons
        %li
          %i.icon-google-plus-sign
          %a{ rel: :author, href: 'https://plus.google.com/101164729259418948334', target: '_blank' }
            Christian Aust
        %li
          %i.icon-linkedin-sign
          %a{ href: 'http://de.linkedin.com/in/christianaust/de', target: '_blank' }
            Christian Aust
        %li
          %i.icon-github
          %a{ href: 'https://github.com/datenimperator/', target: '_blank' }
            datenimperator
        %li
          %i.icon-twitter
          %a{ href: 'https://twitter.com/#!/datenimperator', target: '_blank' }
            datenimperator
        %li
          %i.icon-star
          %a{ href: 'https://www.freelance.de/Freiberufler/Christian_Aust', target: '_blank' }
            freelance.de
        %li
          %i.icon-star
          %a{ href: 'http://www.freelancermap.de/profil/ChristianAust3/1', target: '_blank' }
            freelancermap.de
        %li
          %i.icon-star
          %a{ href: 'https://www.xing.com/profile/Christian_Aust10', target: '_blank' }
            xing.com

  #handwriting.pull-right
    %img#scribble.hidden-phone{ src: asset_path('scribble.png'), alt: 'Was kann ich für Sie tun?' }

%section#referenzen
  %h2 Referenzen

  %p Was sagen andere über meine Arbeit?

  #references.carousel.slide
    .carousel-inner
      = partial(:reference, collection: references)
    %a.carousel-control.left{ href:'#references', 'data-slide'=>'prev'} &lsaquo;
    %a.carousel-control.right{ href:'#references', 'data-slide'=>'next'} &rsaquo;

%section#angebot
  %h2 Mein Angebot

  .row
    .span4
      %h3 Tätigkeitsbereiche
      Beratung, Projektleitung und Teamleitung, Entwicklung, Training und Schulungen

    .span4
      %h3 Software-Entwicklung
      Innovative Webanwendungen, UI prototyping, testgetriebene Entwicklung, QA & QS, Deployments, TDD, BDD

    .span4
      %h3 Netze &amp; Sicherheit
      TCP/IP, Router, Firewalls, Messaging, VPN, SSL, Zertifikate und CA Setup

  .row
    .span4
      %h3 Themen
      Software für Personalwirtschaft, Branchenlösungen, Systemintegration, Suchmaschinen, Produktentwicklung, Security

    .span4
      %h3 Programmierung
      Ruby, Java, Python, PHP, SQL, XML/XSL, HTML, CSS, Javascript und andere

    .span4
      %h3 Datenbanken
      MySQL, PostgreSQL, sqlite, SAP DB, Oracle, MSSQL, redis, riak

  .row
    .span4
      %h3 Branchen
      Energie, Telekommunikation, Versicherungen, Medien, Finanzen, Pharmaindustrie

    .span4
      %h3 Gängige Werkzeuge
      ExtJS, jQuery, Prototype, HAML, Sass, Coffeescript, Capistrano, Subversion, Git, rspec, cucumber, Apache, nginx, Debian, Ubuntu, Redhat, Ruby on rails, Sinatra, rake, Lucene, Elasticsearch, solr, sphinx, memcache

    .span4
      %h3 Betriebssysteme
      Mac OS X, iOS, Linux/UNIX, Windows


%section#projekte
  %a{ name: 'projekte' }
  %h2 Projektliste

  %p
    Diese Tabelle können Sie als
    %a{ href:'/projects.rtf', title:'Projektliste als RTF (zB für Word) herunterladen' }
      %i.icon-download-alt
      vollständige Liste im RTF-Format
    herunterladen.

  #projects
    = partial(:projects, locals: {visible_projects: @visible_projects} )
