.hero-unit
  %img#logo.img-polaroid.pull-right.hidden-phone{ src: asset_path('ca2.png'), alt: 'Christian Aust', rel: 'author' }
  %h1 Christian Aust
  %p Ich berate und entwickle Software für das Internet.

%p.lead
  Ihr Projekt unterstütze ich mit Konzeption, Entwicklung und Betrieb, als Berater, Projektleiter und als Teil des Teams. Ich bin vertraut mit der Arbeitsweise von Agenturen und Konzernen, bin stressfest, zuverlässig und ganz allgemein ein netter Kollege.

%section#start
  .row
    .span3
      %h3
        %i.icon-user
        Über mich
      %p
        Ich bin spezialisiert auf Internetsoftware und vernetzte Informationen. 20 Jahre Erfahrung als Entwickler und Projektleiter ermöglichen fundierte Entscheidungen zu zukunftsfähiger Architektur und solidem Betrieb von Internetsoftware aller Art.

    .span3.hidden-phone
      %h3
        %i.icon-file
        Dokumente

      %ul.icons
        %li
          %i.icon-file
          %a{ href: '/profil.pdf' }
            Profil (PDF)
        %li
          %i.icon-calendar
          %a{ href: '/card.vcf' }
            Visitenkarte (vcard)

    .span3
      %h3
        %i.icon-home
        Kontakt
      %address
        %strong Christian Aust
        %small
          %a{ rel: 'author', href: 'https://plus.google.com/105874409348870423162/about?gl=DE&hl=de-DE' }
            Google Places&trade;
        %br
        Software Berater<br>
        Auelsweg 22<br>
        53797 Lohmar

      %ul.icons
        %li
          %i.icon-phone
          %a{ href: 'callto:+492246208343'} +49 (0)2246 208343
        %li
          %i.icon-envelope
          %a{ href: 'mailto:info@software-consultant.net'} info@software-consultant.net

        %li
          %i.icon-print
          %a{ href: 'fax:+492246208343'} +49 (0)2246 208343-9



    .span3
      %h3
        %i.icon-globe
        Weitere Profile
      %ul.icons
        %li
          %i.icon-google-plus-sign
          %a{ rel: :author, href: 'https://plus.google.com/101164729259418948334' }
            Christian Aust
        %li
          %i.icon-linkedin-sign
          %a{ rel: :author, href: 'http://de.linkedin.com/in/christianaust/de' }
            Christian Aust
        %li
          %i.icon-github
          %a{ rel: :author, href: 'https://github.com/datenimperator/' }
            datenimperator
        %li
          %i.icon-twitter
          %a{ rel: :author, href: 'https://twitter.com/#!/datenimperator' }
            datenimperator
        %li
          %i.icon-star
          %a{ rel: :author, href: 'https://www.freelance.de/Freiberufler/Christian_Aust' }
            freelance.de
        %li
          %i.icon-star
          %a{ rel: :author, href: 'http://www.freelancermap.de/profil/ChristianAust3/1' }
            freelancermap.de

  .pull-right
    %img#scribble.hidden-phone{ src: asset_path('scribble.png'), alt: 'Was kann ich für Sie tun?' }

%section#angebot
  %h2 Mein Angebot

  .row
    .span4
      %h3 Tätigkeitsbereiche
      Beratung, Projektleitung und Teamleitung, Entwicklung, Training und Schulungen

    .span4
      %h3 Software-Entwicklung
      Innovative Webanwendungen, UI prototyping, testgetriebene Entwicklung, QA & QS, Deployments, TDD, BDD

    .span4
      %h3 Netze &amp; Sicherheit
      TCP/IP, Router, Firewalls, Messaging, VPN, SSL, Zertifikate und CA Setup

  .row
    .span4
      %h3 Themen
      Software für Personalwirtschaft, Systemintegration, Suchmaschinen, Produktentwicklung, Security

    .span4
      %h3 Programmierung
      Ruby, Java, Python, PHP, SQL, XML/XSL, HTML, CSS, Javascript und andere

    .span4
      %h3 Datenbanken
      MySQL, PostgreSQL, sqlite, Oracle, MSSQL, redis, riak

  .row
    .span4
      %h3 Branchen
      Energie, Telekommunikation, Versicherungen, Medien, Finanzen, Pharmaindustrie

    .span4
      %h3 Gängige Werkzeuge
      ExtJS, jQuery, Prototype, HAML, Sass, Coffeescript, Capistrano, Subversion, Git, rspec, cucumber, Apache, nginx, Debian, Ubuntu, Redhat, Ruby on rails

    .span4
      %h3 Betriebssysteme
      Mac OS X, Linux/UNIX, Windows


%section#referenzen
  %h2 Referenzen

  %blockquote
    %p
      Christian Aust war als Berater und Entwickler in unserem Projekt "SEBI" im Einsatz. Die hervorragend Qualität des Endergebnisses war maßgeblich durch seine Konzeptionsleistung und professionelle Umsetzung auf höchstem Niveau bestimmt. Die eigenständige und zuverlässige Arbeitsweise, sowie die Termin- und Budgettreue waren die Grundlage für die vertrauensvolle Zusammenarbeit, auf die wir zukünftig gerne erneut setzen werden. Herr Austs Arbeit ist uneingeschränkt empfehlenswert.
    %small
      Kunde
      %cite R. Budke, GF b:scope
      (Juli 2012)

  %blockquote
    %p
      Christian Aust is a very well thought of and quick thinking consultant. He is a very reliable person. Christian Aust delivers consultancy as it is: he is consulting and giving advice and not only developing. He has a broad range of skills and knowledge which is very benficial if it comes to Interfaces where skills of various areas are needed. Furthermore Christian Aust never exceeded the budget. I will work with Christian Aust in the future as well.
    %small
      Kunde
      %cite O. Stegmann, CEO ROC Deutschland
      (Januar 2012)

  %blockquote
    %p
      Christian Aust has set up my main website […] and not only from the positive feedback I get I know that he has done a tremendous job. He was very creative with innovative ideas, highly available when I needed him, fast and worth every penny. It has been a pleasure and a professional experience. Looking forward to work with him in the near future.
    %small
      Kunde
      %cite Dr. Thomas Rose
      (Juli 2011)

  %blockquote
    %p
      Christian Aust war schon in mehreren Projekten unserer Kunden erfolgreich im Einsatz und überzeugte dort mit kompetenter und engagierter Beratung. Synergie-Effekt ist bekannt für erstklassige Unterstützung mit Spezialisten wie mit Christian Aust und mit solchen Mitarbeitern werden wir unserem Anspruch an top-professionelle IT-Dienstleistung gerecht.
    %small
      Partner
      %cite K. Grundmann, CEO Synergie Effekt GmbH
      (September 2010)

  %blockquote
    %p
      Christian Aust hat [2002-2004] für Arinso die ersten webbasierten SAP-HR-Szenarien entwickelt, welche nicht auf einem SAP-Portal implementiert wurden; dieser Prototyp war auch auf der Cebit zu sehen. Darüber hinaus hat er intensiv bei einem Projekt in Skandinavien als Technologie-Experte mitgearbeitet, seine Leistung und sein Wissen wurde sowohl vom Kunden als auch vom gesamten, internationalen Berater- und Entwicklerteam wert geschätzt.
    %small
      Vorgesetzter
      %cite F.-R. Gross, Managing Partner Kivala-HR
      (Juni 2009)

  %blockquote
    %p
      Christian Aust [hat 2005] bei uns wichtige (überwiegend Java-basierte) Applikationen in hoher Qualität und großer Kompetenz entwickelt. Von daher: Sehr empfehlenswert!
    %small
      Vorgesetzter
      %cite S. Mosblech, GF people interactive GmbH
      (Juni 2009)


%section#projekte
  %h2 Projektliste

  %p
    Diese Liste umfasst die letzten
    = @projects.size
    Projekte, in denen ich gearbeitet habe. Eine vollständige Liste seit 1996 sende ich Ihnen gerne auf Anfrage.

  = partial(:project, collection: @projects)
