.hero-unit
  %img#logo.img-polaroid.pull-right.hidden-phone{ src: asset_path('ca2.png'), alt: 'Christian Aust' }
  %h1 Christian Aust
  %p Ich berate und entwickle Software für das Internet.

%p.lead
  Ihr Projekt unterstütze ich mit Konzeption, Entwicklung und Betrieb, als Berater, Projektleiter und als Teil des Teams. Ich bin vertraut mit der Arbeitsweise von Agenturen und Konzernen, bin stressfest, zuverlässig und ganz allgemein ein netter Kollege.

%section#facts
  .row
    .span3
      %h3
        %i.icon-user
        Über mich
      %p
        Ich bin spezialisiert auf Internetsoftware und vernetzte Informationen. 20 Jahre Erfahrung als Entwickler und Projektleiter ermöglichen fundierte Entscheidungen zu zukunftsfähiger Architektur und solidem Betrieb von Internetsoftware aller Art.

    .span3.hidden-phone
      %h3
        %i.icon-file
        Dokumente

      %ul.icons
        %li
          %i.icon-file
          %a{ href: '/profil.pdf' }
            Profil (PDF)
        %li
          %i.icon-calendar
          %a{ href: '/card.vcf' }
            Visitenkarte (vcard)

    .span3
      %h3
        %i.icon-home
        Kontakt
      %address
        %strong Christian Aust
        %small
          %a{ rel: 'author', href: 'https://plus.google.com/105874409348870423162/about?gl=DE&hl=de-DE' }
            Google Places&trade;
        %br
        Software Berater<br>
        Auelsweg 22<br>
        53797 Lohmar
      %p
        %strong USt-ID
        DE 251152105

      %ul.icons
        %li
          %i.icon-phone
          %a{ href: 'callto:+492246208343'} +49 (0)2246 208343
        %li
          %i.icon-envelope
          %a{ href: 'mailto:info@software-consultant.net'} info@software-consultant.net

        %li
          %i.icon-print
          %a{ href: 'fax:+492246208343'} +49 (0)2246 208343-9



    .span3
      %h3
        %i.icon-globe
        Weitere Profile
      %ul.icons
        %li
          %i.icon-google-plus-sign
          %a{ rel: :author, href: 'https://plus.google.com/101164729259418948334' }
            Christian Aust
        %li
          %i.icon-linkedin-sign
          %a{ rel: :author, href: 'http://de.linkedin.com/in/christianaust/de' }
            Christian Aust
        %li
          %i.icon-github
          %a{ rel: :author, href: 'https://github.com/datenimperator/' }
            datenimperator
        %li
          %i.icon-twitter
          %a{ rel: :author, href: 'https://twitter.com/#!/datenimperator' }
            datenimperator
        %li
          %i.icon-star
          %a{ rel: :author, href: 'https://www.freelance.de/Freiberufler/Christian_Aust' }
            freelance.de
        %li
          %i.icon-star
          %a{ rel: :author, href: 'http://www.freelancermap.de/profil/ChristianAust3/1' }
            freelancermap.de

  .pull-right
    %img#scribble.hidden-phone{ src: asset_path('scribble.png'), alt: 'Was kann ich für Sie tun?' }

%section#angebot
  %h2 Mein Angebot

  .row
    .span4
      %h3 Tätigkeitsbereiche
      Beratung, Projektleitung und Teamleitung, Entwicklung, Training und Schulungen

    .span4
      %h3 Software-Entwicklung
      Innovative Webanwendungen, UI prototyping, testgetriebene Entwicklung, QA & QS, Deployments, TDD, BDD

    .span4
      %h3 Netze &amp; Sicherheit
      TCP/IP, Router, Firewalls, Messaging, VPN, SSL, Zertifikate und CA Setup

  .row
    .span4
      %h3 Themen
      Software für Personalwirtschaft, Branchenlösungen, Systemintegration, Suchmaschinen, Produktentwicklung, Security

    .span4
      %h3 Programmierung
      Ruby, Java, Python, PHP, SQL, XML/XSL, HTML, CSS, Javascript und andere

    .span4
      %h3 Datenbanken
      MySQL, PostgreSQL, sqlite, SAP DB, Oracle, MSSQL, redis, riak

  .row
    .span4
      %h3 Branchen
      Energie, Telekommunikation, Versicherungen, Medien, Finanzen, Pharmaindustrie

    .span4
      %h3 Gängige Werkzeuge
      ExtJS, jQuery, Prototype, HAML, Sass, Coffeescript, Capistrano, Subversion, Git, rspec, cucumber, Apache, nginx, Debian, Ubuntu, Redhat, Ruby on rails, Lucene, Elasticsearch, solr, sphinx

    .span4
      %h3 Betriebssysteme
      Mac OS X, iOS, Linux/UNIX, Windows


%section#referenzen
  %h2 Referenzen

  = partial(:reference, collection: references)

%section#projekte
  %h2 Projektliste

  %p
    Diese Liste umfasst die letzten
    = projects.size
    Projekte, in denen ich gearbeitet habe. Eine vollständige Liste seit 1996 sende ich Ihnen gerne auf Anfrage.

  = partial(:project, collection: projects)
