#language.modal{ lang: 'en' }
  .modal-header
    %h3 May I help you?
  .modal-body
    %p
      It looks as if your browser did not indicate that you'd like to see content in german.
      = language
      My professional resumee is on
      %a{ href: 'http://www.linkedin.com/in/christianaust/en', rel: 'author' } linkedin.com
      and there's some source code
      %a{ href: 'https://github.com/datenimperator/', rel: 'author'} on github.com
      that you might be interested in.
    %p
      I'm also
      %a{ href: 'https://twitter.com/#!/datenimperator', rel: 'author' } on twitter
      so please feel free to drop me a line. Regards,
    %p Christian Aust


  .modal-footer
    %a.btn{ href: '#', 'data-dismiss'=> 'modal' } Anyway, I want to see it
