:javascript
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://s.software-consultant.net/" : "http://s.software-consultant.net/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
  piwikTracker.addDownloadExtensions( "pdf");
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
%noscript
  %p
    %img{ src: 'http://s.software-consultant.net/piwik.php?idsite=5', alt: '' }
