%h3.subheader Kontakt

%p
  Haben Sie Fragen? Klicken Sie hier für Adresse &amp; Kontakt, ich bin gerne für Sie da!

.contact
  %a.button.small.success.radius.expand{ href:'#', data:{ 'reveal-id' => 'contact' } }
    %i.icon-phone-sign
    02246-208343
