%footer.row
  %hr
  .large-6.columns
    %p.muted.small
      &copy;
      %a{ href:url('/christian-aust') } Christian Aust
      2008-#{Date.today.year}, software-consultant.net
  .large-6.columns
    %ul.inline-list.muted.small.right
      %li
        %a.feed{ href:url('/articles.xml'), title:'Atom feed' }
          %i.icon-rss
          Atom Feed
      %li
        %a{ href:url('/impressum') }
          %i.icon-legal
          Impressum
