- content_for :sidebar do
  = haml :sidebar, :layout => false

%article
  ~ @page.to_html(self)
  = haml :page_meta, :layout => false, :locals => { :page => @page }

= haml(:comments, :layout => false) if @page.date

