Keywords: ruby, ruby on rails, rails, ror, webanwendungen, dry, convention over configuration
Categories: programmierung

%h1 Ruby

.row
  .large-2.columns
    %figure
      %img.polaroid{ src:image_path('ruby_logo.png'), alt:'Ruby Logo' }
  .large-10.columns
    :markdown
      Ruby (englisch für Rubin) ist eine höhere Programmiersprache, die Mitte der neunziger Jahre von dem Japaner Yukihiro Matsumoto entworfen wurde. Ruby ist vollständig objektorientiert und unterstützt zahlreiche Entwicklungsmethoden und -stile.

:markdown
  Ruby übernimmt Konzepte von Programmiersprachen wie Perl, Python und Smalltalk und fügt diese zu einem konsistenten und leicht zu erlernendem Gesamtwerk zusammen. Die Sprache folgt dem Designprinzip der _geringsten Überraschung_ und verhält sich somit so, wie man es von ihr erwarten würde. Viele andere Sprachen tun das nicht und erzeugen somit Mehraufwand für den Programmierer, wo eigentlich die Funktion für den Nutzer im Vordergrund stehen sollte.

  ## Ruby on Rails

  *Rails* oder ganz kurz *RoR* ist eine in Ruby geschriebene Bibliothek, mit der moderne Webanwendungen geschrieben werden können. Die Version 1.0 wurde Ende 2005 vorgestellt und ist damit im Vergleich zu ähnlichen Bibliotheken in anderen Sprachen noch recht jung.

  Der Autor David Heinemeier Hansson hatte Rails als Nebenprodukt seiner Arbeit an der kommerziellen Webanwendungung [Basecamp](http://basecamp.com) entwickelt, weil er mit den zahlreichen komplizierten Vorgängen unzufrieden war, die nötig gewesen wären, hätte er seine Arbeit auf Java und insbesondere Enterprise Java (J2EE) basiert.

  ## Zeit ist Geld

  Ich biete Ihnen leistungsfähige Programmierung auf der Basis von [Ruby on Rails](http://rubyonrails.org) an. Ihr Vorteil besteht in kurzen Entwicklungszeiten und damit auch geringen Kosten, bei gleichzeitig hoher Qualität des Ergebnisses.

  Testen Sie mich!
