Template: simple

%hgroup
  %h1 Impressum
  %h2 Angaben gemäß § 5 TMG

.row
  .large-4.columns
    %h3 Anschrift
    .vcard
      %p.fn Christian Aust
      %p.organization-name software-consultant.net
      %p.address
        %span.street-address Auelsweg 22<br>
        %span.postal-code 53797
        %span.city Lohmar<br>
        %p.tel
          Telefon
          %strong.value +49-2246-208343
        %p.fax
          Telefax
          %strong.value +49-2246-208343-9
        %p.email
          Email
          %strong.value kontakt@software-consultant.net

  .large-4.columns
    %h3 Umsatzsteuer-ID
    %p
      Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
      DE251152105
    %p Finanzamt Siegburg

  .large-4.columns
    %h3 Autor

    %p Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: Christian Aust (Anschrift wie oben)

    %h3 Quellenangaben

    %p
      Font Awesome by Dave Gandy
      = ext_link_to 'http://fortawesome.github.com/Font-Awesome', 'http://fortawesome.github.com/Font-Awesome'

    %p
      Impressums-Quelle:
      = ext_link_to 'e-recht24.de', 'http://www.e-recht24.de'
