Keywords: it consulting, consulting, software engineering, software consultant, it beratung, beratung, consulting beratung, beratung consulting, unternehmensberatung
Description: Als Berater, Trainer und Dozent verschaffe ich ihnen Überblick zu aktuellen Softwarethemen im Internet und helfe bei Auswahl und Einsatz.
Link text: Software consulting
Icon: briefcase

%hgroup
  %h1= @page.link_text
  %h2= @page.description

:markdown
  Ich biete Ihnen meine langjährige Projekterfahrung an, meine Fachkenntnis und mein breites Wissen. Auf der Basis [dutzender durchgeführter Projekte](/projekte) gebe ich fundierte Auskunft zu aktuellen Softwarethemen rund um das Internet.

  Zuviel Technik-Kauderwelsch, verwirrt von SOAP und SAAS, Rest und TDD? Als Berater, Trainer und Dozent liefere ich echte *IT Beratung* und verschaffe ihnen Überblick. Ich helfe bei Auswahl und Einsatz von Technologien, Methoden und Produkten.

  Meine Disziplin ist die Software-Entwicklung, mein Spezialgebiet das Internet. Zu meinen Schwerpunktthemen gehören Systemintegration und Informationsmanagement. Ich liefere immer mehr als nur *Programmierung*. Testen Sie mich!
